venv/
*.pyc
__cache__
.idea
tmp/
*.log
.env*
__pycache__
.DS_Store
.pytest_cache
node_modules
dist
*/node_modules
*/dist
*/.env*
.coverage
.git/
*/.git/
*/.git*
mongo/
.history/
.continue/
.vscode/
tests/