#id-col1-editor > h4,#id-col2-words-frequency > div > div > h4 {
    font-size: 18px;
    margin-block-start: 2px;
    margin-block-end: 2px;
}
#words-frequency > table > caption {
    margin-left: 12px;
    margin-top: 10px;
    text-align: left;
    font-weight: bold;
}
#words-frequency > table > thead > tr > td, #words-frequency > table > tbody > tr > td {
    padding-left: 10px;
    padding-right: 10px;
}
#filter-words-frequency {
    height: 30px;
    width: 100%;
}
.display-none {
    display: none;
}
.display-block {
    display: block;
}
.underlinedYellow {
    color: yellow;
    text-decoration: underline;
    text-decoration-color: yellow;
}
.underlinedViolet {
    color: violet;
    text-decoration: underline;
    text-decoration-color: violet;
}
.display-grid {
    display: grid;
}
.grid-template-5x1 {
    grid-template-columns: 5fr 1fr;
}
.grid-template-1x2 {
    grid-template-columns: 1fr 1fr;
}
.col-flex50 {
    flex: 50%;
}
.border-black {
    border: 1px solid black;
}
.border-gray-litekoboldai {
    border: 1px solid #646464;
}
#wordsFreqNavbarNavDropdown {
    padding-left: 0;
    padding-right: 0;
}
.padding10px {
    padding: 10px;
}
.margin10px {
    margin: 10px;
}
.margin5px-top {
    margin-top: 5px;
}
.margin2px-bottom {
    margin-bottom: 2px;
}
.max-height-80perc {
    max-height: 80%;
}
.overflow-hidden {
    /* needed for scroll bar*/
    overflow: hidden;
}
.overflow-auto {
    /* needed for scroll bar*/
    overflow: auto;
}
.width-100perc {
    width: 100%;
}
.background-color-verydarkgrey {
    background-color: #404040;
}
.font-size-12px {
    font-size: small;
}
.color-white {
    color: white;
}
.navtoggler-words-freq {
    background-color: #337ab7;
    border: 1px solid #bababa;
    height: 45px;
    width: 60px;
    border-radius: 6px;
}
#words-frequency {
    max-height: calc(84vh - 250px);
}
@media screen and (max-width: 1023px) {
    #words-frequency {
        max-height: calc(80vh - 250px);
    }
}

@media only screen and (width:768px) {
    #words-frequency {
        max-height: calc(76vh - 160px);
    }
    #btn4-get-words-frequency {
        font-size: 12px;
    }
    #btn-filter-words-frequency {
        font-size: 12px;
    }
    #wordsFreqNavbarNavDropdown ul, #wordsFreqNavbarNavDropdown ul li div {
        display: block;
    }
    #wordsFreqNavbarNavDropdown ul li {
        margin-left: 12px;
        margin-right: 12px;
    }
    #id-col1-editor > h4,#id-col2-words-frequency > div > div > h4 {
        font-size: 14px;
    }
}