.display-none {
    display: none;
}
.display-block {
    display: block;
}
.underlinedDarkTurquoise {
    text-decoration: underline;
    text-decoration-color: darkturquoise;
    text-decoration-style: wavy;
}
.underlinedYellow {
    color: yellow;
    text-decoration: underline;
    text-decoration-color: yellow;
}
.underlinedViolet {
    color: violet;
    text-decoration: underline;
    text-decoration-color: violet;
}
.display-flex {
    display: flex;
}
.col-flex30 {
    flex: 30%;
}
.col-flex50 {
    flex: 50%;
}
.border-green {
    border: 1px solid green;
}
.border-blue {
    border: 1px solid blue;
}
.border-black {
    border: 1px solid black;
}
.padding10px {
    padding: 10px;
}
.margin10px {
    margin: 10px;
}
.margin5px-left {
    margin-left: 10px;
}
.margin5px-right {
    margin-right: 10px;
}
.margin5px-top {
    margin-top: 5px;
}
.margin2px-bottom {
    margin-bottom: 2px;
}
.background-color-lightgray {
    background-color: lightgray;
}
.background-color-whitesmoke {
    background-color: whitesmoke;
}
.max-height-90vh {
    max-height: 90vh;
}
.max-height-80vh {
    max-height: 80vh;
}
.overflow-hidden {
    /* needed for scroll bar*/
    overflow: hidden;
}
.overflow-auto {
    /* needed for scroll bar*/
    overflow: auto;
}
.width-50perc {
    width: 50%;
}
.width-80perc {
    width: 80%;
}
#id-landscape-message {
    display: none;
}
.id-orientation-message {
    display: none;
}
.background-color-verydarkgrey {
    background-color: #404040;
}
.font-size-12px {
    font-size: small;
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
    .id-orientation-message {
        display: block;
        text-align: center;
    }
    .id-orientation-message:before {
        color: red;
        content: "(Mobile users: use this in landscape mode!)"
    }
}